.container{
width: 100%;
width: 100%;

display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: 300px 300px;
gap: 30px;
align-items: ;

}


div{
height: 200px; /* altura */
width: 200px; /* largura */

}

.red {
background-color: red;
grid-row: 2;
grid-column: 1;
}
.blue{
background-color: blue;
}
.green{
background-color: green;
}
.yellow{
background-color: yellow;
}

