body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h3 {
    margin: 5px 0;
}

header .Saldo {
    margin: 10px 0;
    font-size: 1.5em;
}

header .Saldo pre {
    display: inline;
    background: none;
    border: none;
    color: rgb(135, 209, 100);
    font-family: inherit;
    
}

/* Navigation styles */
nav {
    background-color: #005bb5;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos de artigos e formulários */
article {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="datetime"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #005bb5;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}


